# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.venv
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# macOS specific
.DS_Store

# Windows specific
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.sublime-workspace

# Python cache files
*.pyc
*.pyo

# Environment variables
.envrc
.env

# pytest cache
.pytest_cache/

# MyPy type check reports
.mypy_cache/

# tilus cache
/.cache
/.test_cache

/experiments

/cache
/examples/**/cache
/tests/**/cache

*.ncu-rep
**/sanitizer-reports/
**/nsys-reports/
**/ncu-reports/


# python cProfile result
*.prof
*.pclprof

# sphinx generated
**/generated/
**/sg_execution_times.rst

# tilus cache dir
**/cache
.cache
.hidet_cache

uv.lock

/*Knobs.txt
.nfs*

# claude tasks
/TASK*.md
/REPORT*.md
/knowledge
